@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}

h2,
li {
    color: #ffffff;
    font-family: "Playfair Display", cursive;
}

h3 {
    text-align: center;
    font-size: 30px;
}

p {
    font-size: 30px;
    color: #000000;
    font-family: "Playfair Display", cursive;
}

h1 {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #ffffff;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.title {
    background-color: rgba(124, 31, 230, 0.726)
}

h1 span {
    display: block;
    font-size: 0.5em;
    line-height: 1.3;
}

h1 em {
    font-style: normal;
    font-weight: 600;
}

div {
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}

.nine h1 {
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    color: #222;
    letter-spacing: 1px;
    font-family: "Playfair Display", cursive;
    font-weight: 400;
}

.nine h1 span {
    margin-top: 5px;
    font-size: 15px;
    color: #444;
    word-spacing: 1px;
    font-weight: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Raleway", cursive;
    font-weight: 500;

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
}

.nine h1 span:after,
.nine h1 span:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 5px;
    background-color: #f8f8f8;
}

#root {
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff81;
    background-image: url("https://www.pptbackgroundstemplates.com/backgrounds/Art-Marbling-Border-Frame-powerpoint-backgrounds.jpg");
    background-size: cover;
}

/* Addaptive */
@media only screen and (max-width : 1200px) {
    #start {
        left: 37%;
        font-size: 15px;
    }

    .nine h1 span {
        font-size: 20px;
    }

    .nine h1 {
        font-size: 40px;
    }

    .box p {
        font-size: 20px;
    }

    h2 {
        font-size: 25px;
    }

    li {
        font-size: 20px;
    }

    #root {
        width: 100%;
        min-height: 100%;
        background-color: #ffffff81;
        background-size: cover;
    }

    .x-container {
        margin: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 98%;
        max-width: 1200px;
    }

    #answer-btn {
        width: 150px;
        height: 150px;
        border-radius: 75px;
        font-size: 15px;
        margin: 10px;
    }

    #cmbck {
        left: 26%;
    }

    #question-container {
        font-size: 35px;
    }

    h3 {
        font-size: 45px;
    }
}

@media only screen and (max-width : 960px) {
    #start {
        left: 37%;
        font-size: 15px;
    }

    .nine h1 span {
        font-size: 20px;
    }

    .nine h1 {
        font-size: 40px;
    }

    .box p {
        font-size: 20px;
    }

    h2 {
        font-size: 25px;
    }

    li {
        font-size: 20px;
    }

    #root {
        width: 100%;
        min-height: 100%;
        background-color: #ffffff81;
        background-size: cover;
    }

    .x-container {
        margin: 8px;
        margin-left: auto;
        margin-right: auto;
        width: 98%;
        max-width: 960px;
    }

    #answer-btn {
        width: 120px;
        height: 120px;
        border-radius: 60px;
        font-size: 11px;
        margin: 10px;
    }

    #question-container {
        font-size: 35px;
    }

    h3 {
        font-size: 45px;
    }

    #cmbck {
        left: 21%;
        font-size: 15px;
    }
}

@media only screen and (max-width : 760px) {
    #start {
        left: 35%;
        font-size: 15px;
    }

    .nine h1 span {
        font-size: 15px;
    }

    .nine h1 {
        font-size: 35px;
    }

    .box p {
        font-size: 15px;
    }

    h2 {
        font-size: 25px;
    }

    li {
        font-size: 20px;
    }

    #root {
        width: 100%;
        min-height: 100%;
        background-color: #ffffff81;
        background-size: cover;
    }

    .x-container {
        margin: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 98%;
    }

    #answer-btn {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        font-size: 12px;
        margin: 10px;
    }

    #cmbck {
        left: 17%;
        font-size: 10px;
    }

    #question-container {
        font-size: 25px;
    }

    h3 {
        font-size: 30px;
    }

}

@media only screen and (max-width : 480px) {
    #start {
        left: 30%;
        font-size: 10px;
    }

    .nine h1 span {
        font-size: 10px;
    }

    .nine h1 {
        font-size: 25px;
    }

    .box p {
        font-size: 7px;
        padding: 0;
    }

    h2 {
        font-size: 10px;
    }

    li {
        font-size: 10px;
    }

    #root {
        width: 100%;
        min-height: 100%;
        background-color: #ffffff81;
        background-size: cover;
    }

    .y-container {
        padding: 10px;
        margin: 5px;
    }

    .t-container {
        margin: 5px;
        padding: 10px;
        border-radius: 35px;
    }

    .x-container {
        margin: 5px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 1200px;
    }

    #answer-btn {
        width: 60px;
        height: 60px;
        border-radius: 30px;
        font-size: 5px;
        margin: 8px;
    }

    #cmbck {
        left: 25%;
        font-size: 10px;
        margin: 3px;
        padding: 5px;
    }

    #question-container {
        font-size: 15px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        padding: 5px;
        font-size: 10px;
    }

    .z-container {
        border-radius: 50px;
    }

    .z-container h1 {
        left: 10%;
        font-size: 25px;
    }

    .z-container ul {
        font-size: 15px;
    }

    .z-container h2 {
        font-size: 15px;
    }

    .z-container #cmbk {
        left: 10%;
    }
}

@media only screen and (max-width : 425px) {
    #start {
        left: 30%;
        font-size: 10px;
    }

    .nine h1 span {
        font-size: 10px;
    }

    .nine h1 {
        font-size: 25px;
    }

    .box p {
        font-size: 7px;
        padding: 0;
    }

    h2 {
        font-size: 10px;
    }

    li {
        font-size: 10px;
    }

    #root {
        width: 100%;
        min-height: 100%;
        background-color: #ffffff81;
        background-size: cover;
    }

    .y-container {
        padding: 10px;
        margin: 5px;
    }

    .t-container {
        margin: 5px;
        padding: 10px;
        border-radius: 35px;
    }

    .x-container {
        margin: 5px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 1200px;
    }

    #answer-btn {
        width: 60px;
        height: 60px;
        border-radius: 30px;
        font-size: 5px;
        margin: 8px;
    }

    #cmbck {
        left: 25%;
        font-size: 8px;
        margin: 3px;
        padding: 5px;
    }

    #question-container {
        font-size: 15px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        padding: 5px;
        font-size: 10px;
    }

    .z-container {
        border-radius: 50px;
    }

    .z-container h1 {
        left: 10%;
        font-size: 25px;
    }

    .z-container ul {
        font-size: 15px;
    }

    .z-container h2 {
        font-size: 15px;
    }

    .z-container #cmbk {
        left: 10%;
    }
}

@media only screen and (max-width : 375px) {
    #cmbck {
        left: 30%;
        font-size: 6px;
        padding: 2px;
    }

    #answer-btn {
        width: 58px;
        height: 58px;
        border-radius: 29px;
        font-size: 5px;
        margin: 4px;
    }

    #start {
        left: 26%
    }
}

@media only screen and (max-width : 320px) {
    .answer-div {
        color: #FFF;
    }

    .answer-div h1 {
        position: relative;
        left: 15%;
        font-size: 20px;
    }

    .answer-div h2 {
        position: relative;
        left: 2%;
        font-size: 15px;
    }

    .answer-div ul {
        position: relative;
        left: 3%;
        font-size: 15px;
    }

    .answer-div span {
        font-weight: bold;
        color: #f8f8f8;
    }

    #start {
        left: 20%;
        font-size: 9px;
    }

    .nine h1 span {
        font-size: 8px;
    }

    .nine h1 {
        font-size: 20px;
    }

    .box p {
        font-size: 7px;
        padding: 0;
    }

    h2 {
        font-size: 18px;
    }

    li {
        font-size: 10px;
    }

    #root {
        width: 100%;
        min-height: 100%;
        background-color: #ffffff81;
        background-size: cover;
    }

    .x-container {
        margin: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 1200px;
    }

    .t-container {
        margin: 3px;
        padding: 9px;
        border-radius: 35px;
    }

    .y-container {
        padding: 10px;
        margin: 5px;
    }

    .z-container {
        border-radius: 50px;
    }

    .z-container h1 {
        font-size: 18px;
    }

    .z-container ul {
        font-size: 15px;
    }

    .z-container h2 {
        font-size: 15px;
    }

    #answer-btn {
        width: 52.5px;
        height: 52.5px;
        border-radius: 26.25px;
        font-size: 5px;
        margin: 1px;
    }

    #cmbck {
        left: 19%;
        font-size: 8px;
        padding: 3px;
    }

    #question-container {
        font-size: 13px;
    }

    h3 {
        font-size: 15px;
    }

    p {
        padding: 5px;
        font-size: 10px;
    }
}