#question-container {
  margin-top: 50px;
}

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

h2,
li {
  color: #ffffff;
  font-family: "Playfair Display", cursive;
}

h3 {
  text-align: center;
  font-size: 30px;
}

p {
  font-size: 30px;
  color: #000000;
  font-family: "Playfair Display", cursive;
}

h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #ffffff;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.title {
  background-color: rgba(124, 31, 230, 0.726)
}

h1 span {
  display: block;
  font-size: 0.5em;
  line-height: 1.3;
}

h1 em {
  font-style: normal;
  font-weight: 600;
}

div {
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

.nine h1 {
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  color: #222;
  letter-spacing: 1px;
  font-family: "Playfair Display", cursive;
  font-weight: 400;
}

.nine h1 span {
  margin-top: 5px;
  font-size: 15px;
  color: #444;
  word-spacing: 1px;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Raleway", cursive;
  font-weight: 500;

  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
}

.nine h1 span:after,
.nine h1 span:before {
  content: " ";
  display: block;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  height: 5px;
  background-color: #f8f8f8;
}

.answer-div {
  color: #FFF;
  font-family: "Playfair Display", cursive;
}

.answer-div h1 {
  position: relative;
  left: 30%;
}

.answer-div h2 {
  position: relative;
  left: 2%;
}

.answer-div ul {
  position: relative;
  left: 3%;
  font-size: 20px;
}

.answer-div span {
  font-weight: bold;
  color: #f8f8f8;
}

#answer-btn {
  margin: 15px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: #858282;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 20px;
  font-family: "Playfair Display", cursive;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
  border: 2px solid #000000;
}

.box {
  padding: 5px;
  display: inline-flex;
}

.box p {
  padding: 20px;
  font-size: 24px;
  text-align: justify;
  line-height: 1.5;
}

#root {
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff81;
  background-image: url("https://www.pptbackgroundstemplates.com/backgrounds/Art-Marbling-Border-Frame-powerpoint-backgrounds.jpg");
  background-size: cover;
}

#start {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  display: inline-flex;
  left: 38%;
  margin: 10px;
  text-decoration: none;
  border: 2px solid #000000;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
  font-size: 20px;
  line-height: 20px;
  padding: 12px 30px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Playfair Display", cursive;
  background: rgba(88, 1, 187, 0.726);
  transition: box-shadow 0.3s, transform 0.3s;
  cursor: pointer;
}

#start:hover,
#start:active,
#start:focus {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(87, 111, 250, 0.932), 0 16px 20px rgba(99, 80, 206, 0.2);
  color: #FFF;
}

#start:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, transparent, rgba(119, 95, 255, 0.507), transparent);
  transition: left 0.7s;
}

#start:hover:before,
#start:active:before,
#start:focus:before {
  left: 100%;
}

#cmbck {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  display: inline-flex;
  left: 30%;
  margin: 10px;
  text-decoration: none;
  border: 2px solid #96969693;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  font-size: 20px;
  line-height: 20px;
  padding: 12px 30px;
  color: rgb(245, 220, 161);
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Playfair Display", cursive;
  background: rgba(223, 223, 223, 0.726);
  transition: box-shadow 0.3s, transform 0.3s;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

#cmbck:hover,
#cmbck:active,
#cmbck:focus {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(119, 121, 250, 0.932), 0 16px 20px rgba(209, 140, 83, 0.2);
  color: #FFF;
}

.cursive {
  font-family: "Playfair Display", cursive;
}

#cmbck:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, transparent, rgba(85, 107, 230, 0.507), transparent);
  transition: left 0.7s;
}

#cmbck:hover:before,
#cmbck:active:before,
#cmbck:focus:before {
  left: 100%;
}

.d15 {
  background-color: #ffc400;
}

.d15 h1 {
  display: table;
  width: auto;
  margin: 15px auto;
  letter-spacing: 2px;
}

.d15 h1:before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -8px;
  left: -35px;
  width: 10px;
  height: 10px;
  border: 2px solid #96969693;
  transform: rotate(45deg)
}

.d15 h1:after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -8px;
  right: -35px;
  width: 10px;
  height: 10px;
  border: 2px solid #96969693;
  transform: rotate(45deg);
}

.x-container {
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  background-color: #eeebe7;
  border: 2px solid #96969693;
  border-radius: 75px;
  background: rgba(88, 1, 187, 0.726);
}

.y-container {
  margin: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1200px;
  padding: 10px;
  color: #000000;
  font-size: 30px;
}

.t-container {
  margin: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1200px;
  padding: 25px;
  border: 2px solid #96969693;
  border-radius: 75px;
  background: rgba(88, 1, 187, 0.726);
  color: #ffffff;
  font-size: 30px;
}

.start-container {
  margin: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1400px;
  padding: 0;
  color: #ffffff;
  font-size: 30px;
}

.z-container {
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1200px;
  padding: 0;
  background-color: #eeebe7;
  border: 2px solid #96969693;
  border-radius: 75px;
  background: rgba(88, 1, 187, 0.726);
}

/* Addaptive */
@media only screen and (max-width : 992px) {
  #start {
    left: 37%;
    font-size: 15px;
  }

  .nine h1 span {
    font-size: 20px;
  }

  .nine h1 {
    font-size: 40px;
  }

  .box p {
    font-size: 20px;
  }

  h2 {
    font-size: 25px;
  }

  li {
    font-size: 20px;
  }

  #root {
    width: 100%;
    min-height: 100%;
    background-color: #ffffff81;
    background-size: cover;
  }

  .x-container {
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    max-width: 1200px;
  }

  #answer-btn {
    width: 170px;
    height: 170px;
    border-radius: 85px;
    font-size: 18px;
    margin: 15px;
  }

  #question-container {
    font-size: 35px;
  }

  h3 {
    font-size: 45px;
  }
}

@media only screen and (max-width : 1024px) {
  #start {
    left: 37%;
    font-size: 15px;
  }

  .nine h1 span {
    font-size: 20px;
  }

  .nine h1 {
    font-size: 40px;
  }

  .box p {
    font-size: 20px;
  }

  h2 {
    font-size: 25px;
  }

  li {
    font-size: 20px;
  }

  #root {
    width: 100%;
    min-height: 100%;
    background-color: #ffffff81;
    background-size: cover;
  }

  .x-container {
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    max-width: 1200px;
  }

  #answer-btn {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    font-size: 15px;
    margin: 20px;
  }

  #cmbck {
    left: 26%;
  }

  #question-container {
    font-size: 35px;
  }

  h3 {
    font-size: 45px;
  }
}

@media only screen and (max-width : 768px) {
  #start {
    left: 35%;
    font-size: 15px;
  }

  .nine h1 span {
    font-size: 15px;
  }

  .nine h1 {
    font-size: 35px;
  }

  .box p {
    font-size: 15px;
  }

  h2 {
    font-size: 25px;
  }

  li {
    font-size: 20px;
  }

  #root {
    width: 100%;
    min-height: 100%;
    background-color: #ffffff81;
    background-size: cover;
  }

  .x-container {
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
  }

  #answer-btn {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    font-size: 12px;
    margin: 10px;
  }

  #cmbck {
    left: 17%;
  }

  #question-container {
    font-size: 25px;
  }

  h3 {
    font-size: 30px;
  }

}

@media only screen and (max-width : 425px) {
  #start {
    left: 30%;
    font-size: 10px;
  }

  .nine h1 span {
    font-size: 10px;
  }

  .nine h1 {
    font-size: 25px;
  }

  .box p {
    font-size: 7px;
    padding: 0;
  }

  h2 {
    font-size: 10px;
  }

  li {
    font-size: 10px;
  }

  #root {
    width: 100%;
    min-height: 100%;
    background-color: #ffffff81;
    background-size: cover;
  }

  .y-container {
    padding: 10px;
    margin: 5px;
  }

  .t-container {
    margin: 5px;
    padding: 10px;
    border-radius: 35px;
  }

  .x-container {
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1200px;
  }

  #answer-btn {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    font-size: 5px;
    margin: 8px;
  }

  #cmbck {
    left: 25%;
    font-size: 10px;
    margin: 3px;
    padding: 5px;
  }

  #question-container {
    font-size: 15px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    padding: 5px;
    font-size: 10px;
  }

  .z-container {
    border-radius: 50px;
  }

  .z-container h1 {
    left: 10%;
    font-size: 25px;
  }

  .z-container ul {
    font-size: 15px;
  }

  .z-container h2 {
    font-size: 15px;
  }

  .z-container #cmbk {
    left: 10%;
  }
}

@media only screen and (max-width : 320px) {
  .answer-div {
    color: #FFF;
  }

  .answer-div h1 {
    position: relative;
    left: 15%;
    font-size: 20px;
  }

  .answer-div h2 {
    position: relative;
    left: 2%;
    font-size: 15px;
  }

  .answer-div ul {
    position: relative;
    left: 3%;
    font-size: 15px;
  }

  .answer-div span {
    font-weight: bold;
    color: #f8f8f8;
  }

  #start {
    left: 20%;
    font-size: 9px;
  }

  .nine h1 span {
    font-size: 8px;
  }

  .nine h1 {
    font-size: 20px;
  }

  .box p {
    font-size: 7px;
    padding: 0;
  }

  h2 {
    font-size: 18px;
  }

  li {
    font-size: 10px;
  }

  #root {
    width: 100%;
    min-height: 100%;
    background-color: #ffffff81;
    background-size: cover;
  }

  .x-container {
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1200px;
  }

  .t-container {
    margin: 3px;
    padding: 9px;
    border-radius: 35px;
  }

  .y-container {
    padding: 10px;
    margin: 5px;
  }

  .z-container {
    border-radius: 50px;
  }

  .z-container h1 {
    font-size: 18px;
  }

  .z-container ul {
    font-size: 15px;
  }

  .z-container h2 {
    font-size: 15px;
  }

  #answer-btn {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    font-size: 6px;
    margin: 2px;
  }

  #cmbck {
    font-size: 8px;
    padding: 3px;
  }

  #question-container {
    font-size: 13px;
  }

  h3 {
    font-size: 15px;
  }

  p {
    padding: 5px;
    font-size: 10px;
  }
}

@media only screen and (max-width : 375px) {
  #cmbck {
    left: 30%;
    font-size: 6px;
    padding: 2px;
  }

  #answer-btn {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    font-size: 7px;
    margin: 6px;
  }

  #start {
    left: 26%
  }
}